.mixin.out
.vscode
rhino.local.properties
README.md
patchouli_data.json
minecraftinstance.json
.curseclient
saves/
mods/
logs/
local/
journeymap/
backups/
ESM/
usercache.json
usernamecache.json
crash-reports/
quests_structures
modernfix/structureCacheV1
resourcepacks
user-prefs.json
servers.dat_old
screenshots
shaderpacks
datapacks
downloads
config/powah.json5
config/packetfixer.properties
config/skyblockbuilder/data/dimensions.txt
config/powah.json5
config/packetfixer.properties
fancymenu_data/
/fancymenu_data/
kubejs/todo.txt
/bandwidthoptimizer-native/*
fancymenu_data/last_world.fmdata
kubejs/config/probejs.json
kubejs/jsconfig.json
.idea/
config/fancymenu/user_variables.db
/options.txt
config/AppliedeE/emc_cache.tsv
kubejs/client_scripts/jsconfig.json
kubejs/server_scripts/jsconfig.json
kubejs/startup_scripts/jsconfig.json
user_variables.db
/config/fancymenu/*.db
dimensions.txt
